@media (max-width: 800px) {
  #header-home {
    height: 30rem;
    .header-content {
      padding-top: 5rem;
    }
  }
  #home-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;

      div {
        padding: 2rem;
        border-radius: 5px;
        &:first-child {
          background-color: $light-color;
        }
        &:nth-child(2) {
          background-color: $medium-color;
        }
        &:nth-child(3) {
          background-color: $medium-color;
        }
        &:last-child {
          background-color: $light-color;
        }
      }
    }
  }
  #about-d {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      p {
        border: 2px solid $main-color;
        border-radius: 10px;
      }
    }
  }
  .item {
    &-text-title {
      font-size: 1.3rem;
      padding: 0 1rem;
      margin: 3px 0 0 0;
    }
  }
  #contact-c {
    padding-top: 1rem;
    padding-bottom: 1rem;
    .container {
      height: 25px;
    }
    h1 {
      font-size: 1.2rem;
      text-align: center;
    }
  }
  #main-footer {
    background: $dark-color;
    color: white;
    height: 5rem;
    padding: 0;
    margin: 0;

    .footer-content {
      display: block;
      height: 5rem;

      p {
        text-align: center;
        margin-top: 0.4rem;
      }
      div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 3rem;
        .fab {
          border: 2px white solid;
          border-radius: 50%;
          height: 18px;
          width: 18px;

          &:hover {
            background: $main-color;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }
  #header {
    &-home {
      height: 7rem;
      border-bottom: 3px solid $main-color;
      background-position: 20% 30%;
      .header-content {
        display: none;
      }
    }
    &-inner {
      height: 7rem;
    }
  }
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
  #home-b {
    .stats {
      content: "";
      div {
        &:nth-child(odd) {
          background-color: $light-color;
        }
        &:nth-child(even) {
          background-color: $medium-color;
        }
      }
    }
  }
  #home {
    &-a {
      .specials div {
        border-bottom: 2px $light-color solid;
        padding-bottom: 1rem;
        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }
  }

  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw1"
          "aw2"
          "aw3";
      }
    }
    &-c {
      display: none;
    }
  }
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name"
          "subject"
          "email"
          "phone"
          "message";
        .text-input {
          border: 1px solid #333;
          border-radius: 5px;
        }
      }
    }
    &-b {
      div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px #555 solid;

        &:last-child {
          border: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  #main-footer {
    height: 7rem;
    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }
}

@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 2.5rem;
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}
